div.skills-blocks {
  text-align: center;
}

section {
  display: inline-block;
  margin: 0 5%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
}

.centered {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.skills-box {
  background-color: black;
  padding: 2px;
}

.skills-box-border-wrap {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  border-radius: 2px;
  padding: 3px;
}
