/* Created global navigation with cta button... will continue styling later*/
#global-navigation-top {
  font: 1.2em sans-serif;
  margin: 20px;
  float: right;
  text-align: center;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
}

#global-navigation-top a {
  margin: 0 10px;
}

#nav-cta-button {
  color: white;
  background-color: red;
  /* Removes link underline */
  text-decoration: none;
  padding: 5px;
}

div.skills-blocks {
  text-align: center;
}

section {
  display: inline-block;
  margin: 0 5%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
}

.centered {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.skills-box {
  background-color: black;
  padding: 2px;
}

.skills-box-border-wrap {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  border-radius: 2px;
  padding: 3px;
}
